@font-face {
  font-family: 'Blackjack';
  src: url('./fonts/Sacramento-Regular.ttf') format('truetype');
}
@font-face {
  font-family: "The Seasons";
  src: url("./fonts/the-seasons-regular.ttf") format("truetype");
}

@font-face {
  font-family: 'LeJourSerif';
  src: url('./fonts/Le\ Jour\ Serif.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Open Sans Light';
  src: url('./fonts/OpenSans-Light.ttf') format('truetype'); /* Adjusted Path */
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Juliette';
  src: url('./fonts/Juliette.otf') format('opentype'); /* Adjusted path */
  font-weight: normal;
  font-style: normal;
}



@tailwind base;
@tailwind components;
@tailwind utilities;